<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Nav</title>
</head>

<body>

<section th:fragment = "welcome">

    <div th:if = "${username}">
        <h2>Hello, [[${username}]]!</h2>
    </div>

    <div th:unless = "${username}">
        <h2>Hello!</h2>
    </div>

</section>

</body>

</html>