<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>Nav</title>
</head>

<body>

<section th:fragment = "navBar">

    <nav th:if = "${username}">
        <h2>Hello, [[${username}]]!</h2>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/logout">Logout</a></li>
        </ul>
    </nav>

    <nav th:unless = "${username}">
        <h2>Welcome new user!</h2>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "/signup">Signup</a></li>
        </ul>
    </nav>

</section>

</body>

</html>