<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeFellowship Login Page</title>
</head>

<body>
    <header>
        <div th:replace = "fragments/nav :: nav"></div>
    </header>

    <h1>CodeFellowship Login Page</h1>

    <form action="/login" method="POST">
        <label for = "username">Username</label>
        <input name = "username" />
        <label for = "password">Username</label>
        <input name = "password" type="password" />
        <input type = "submit" />
    </form>

</body>

</html>