<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="fragments/common :: css"></th:block>
    <title>Your newsfeed</title>
</head>

<body>

    <header>
        <div th:replace="fragments/nav :: nav"></div>
    </header>

    <main>

        <h1>Recent posts</h1>

        <th:block th:each="user: ${listOfUsersIFollow}">
            <div>
                <h3 th:text="${'Recent posts from ' + user.username}"></h3>

                <th:block th:each="post: ${user.posts}">
                    <span th:text="${post.body}"></span>
                    <span th:text="${'Post from ' + post.createdAt}"></span>
                    <p></p>
                </th:block>
            </div>
        </th:block>

    </main>

</body>

</html>