<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="fragments/common :: css"></th:block>
    <title>Meet the community!</title>
</head>

<body>

    <header>
        <div th:replace="fragments/nav :: nav"></div>
    </header>

    <main>

        <h1>Meet the community@</h1>

        <th:block th:each="user: ${userList}">

            <div th:if="${user != currentUser}">
                <a th:href="${'/user/' + user.id}"><h4 th:text="${user.username}"></h4></a>
                <p th:text="${user.bio}"></p>
            </div>

        </th:block>

    </main>

</body>

</html>